// size
$max-width: 980px;
$screen_1: 1068px;
$screen_2: 734px;

$CTA: #0066cc;

$black: black;
$grey: #424245;
$light_grey: #6e6e73;
$border_grey: #d2d2d7;

$tx_1: #1d1d1f;
$tx_2: #f5f5f7;

$bg_1: white;
$bg_2: black;
