@use "./global" as *;

$max-width: 980px;
$screen_1: 1068px;
$screen_2: 734px;

.Hero {
  max-width: $max-width;
  margin: auto;
  padding: 6rem 0 6.25rem;
  text-align: center;
  font-size: 1rem;
  h1 {
    color: $white;
    font-size: 5.5em;
    font-weight: bold;
    margin-bottom: 1rem;

    :nth-child(1) {
      opacity: 0;
      animation: fadein 1s forwards 0s;
    }
    :nth-child(2) {
      opacity: 0;
      animation: fadein 1s forwards 1s;
    }
  }
  p {
    margin-top: 1.5rem;
    color: $lightgrey;
    font-size: 1.5em;
    line-height: 1.16;
    opacity: 0;
    animation: fadein 1s forwards 2s;
  }
}

@keyframes fadein {
  from {
    transform: translateY(30%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: $screen_1) {
  .Hero {
    font-size: 0.75rem;
  }
}
@media (max-width: $screen_2) {
  .Hero {
    font-size: 0.5rem;
  }
}
