body {
  margin: 0rem;
  overflow-x: hidden;
  padding: 0rem;
  font-family: "Open Sans", "Rubik", sans-serif;

  a {
    color: white;
    text-decoration: none;
    outline: none;
  }

  a:hover,
  a:active {
    text-decoration: none;
    color: white;
    background-color: #f59000;
  }
  //

  &::-webkit-scrollbar-track {
    background-color: gray(30);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(white, 0.2);
    border-radius: 100px;
  }

  &::-webkit-scrollbar {
    height: 0.25rem;
    width: 0.25rem;
  }

  input,
  header,
  h1,
  h3,
  a,
  span {
    color: gray(90);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0rem;
    padding: 0rem;
  }
}
